.budget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
}

.budget-item {
    margin: 5px 0;
}

.remaining {
    margin-bottom: 20px;
    border: 2px solid white;
    padding: 7px;
    background: black;
    color: rgb(167, 236, 197);
}