.user-inputs {
    display: flex;
    flex-direction: column;
    /* max-width: 50%; */
}

.user-inputs label {
    font-family: 'Roboto', sans-serif;
}

label[for="user_name"] {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

label[for="password"] {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

input[name="user_name"], input[name="password"] {
    height: 19px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 3px;
    height: 30px;
}

.password {
    margin-top: 10px;
}

