.demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    background: black;
    color: rgb(133, 201, 162);
    border: 5px solid rgb(133, 201, 162);
}

.demo-title {
    font-family: 'Galada', cursive;
    font-size: 32px;
}

.demo p, .demo li {
    font-family: 'Merriweather', serif;
}