.event-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 25px;
}

.info-venue {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

.edit-venue-button {
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 5px;
}

.edit-venue-button:hover {
    cursor: pointer;
}

.budget {
    border: 3px solid black;
    padding: 20px;
    background: rgb(133, 201, 162);
    margin: 20px;
    width: 260px;
    height: 400px;
    font-size: 18px;
}

.guest {
    border: 3px solid black;
    padding: 20px;
    background: rgb(133, 201, 162);
    margin: 20px;
    width: 260px;
    height: 400px;
    font-size: 18px;
}

.event-name {
    font-size: 32px;
}

.address {
    line-height: .65;
    background: rgba(255, 255, 255, .9);
    padding: 10px;
    border: 1px solid black;
}

.date-time {
    line-height: .65;
    background: rgba(255, 255, 255, .9);
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.budget-guest {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 30px;
}

.budget-guest .budget-form, .budget-guest .guest-form {
    border: 3px solid black;
    padding: 20px;
    background: rgb(133, 201, 162);
    margin: 20px;
    width: 260px;
    height: 400px;
    font-size: 18px;
} 

.budget-guest label {
    font-size: 16px;
}

.total-budget {
    font-size: 22px;
    font-weight: bold;
}

.guest-max {
    font-size: 22px;
    font-weight: bold;
}

.edit-event-button {
    margin-top: 10px;   
    border: 2px solid black;
    border-radius: 5px;
}

.edit-event-button:hover {
    cursor: pointer;
}

.event-page .delete-button {
    border: 2px solid black;
    height: 25px;
    border-radius: 5px;
}

.add-budget-guest {
    margin: 10px 5px;
    width: 85px;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    transition: all .3s ease;
}

.add-budget-guest:hover {
    cursor: pointer;
    background: black;
    color: white;
    border: 2px solid white;
    transform: background;
}

@media screen and (max-width: 800px) {
    .budget-guest {
        flex-direction: column;
    }

    .budget {
        text-align: center;
    }

    .guest {
        margin-top: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .event-page {
        margin-top: 20px;
    }
}