.new-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    background: rgb(133, 201, 162);
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    font-family: 'Merriweather', serif;
}

.new-event-heading {
    font-family: 'Galada', cursive;
    font-size: 32px;
}

.add-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.add-buttons > button {
    margin: 5px;
    width: 110px;
}

.new-event input {
    margin: 5px;
}

.new-event-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    background: black;
    border: 2px solid black;
    color: black;
    font-size: 16px;
    border-radius: 7px;
    height: 25px;
    color: white;
}

.form-input:focus {
    background: rgba(0,0,0,0);
    color: black;
}