.new-event-inputs label {
    font-family: 'Merriweather', serif;
    margin-right: 5px;
}

.new-event-inputs input {
    margin-top: 7px;
    font-family: 'Merriweather', serif;
}

.event-info-buttons {
    margin: 15px 0;
}

@media screen and (max-width: 450px) {
    .new-event-inputs input {
        max-width: 70%;
    }
}