.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    /* position: fixed; */
    width: 100%;
}

.app-name {
    margin-right: auto;
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-size: 36px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Galada', cursive;
    font-weight: bold;
}

.nav-links {
    display: flex;
    flex-direction: row;
    /* display: inline-block; */
    font-size: 20px;
}

.nav-link:hover {
    transform: translateY(-3px);
    transition: all .3s ease;
    color: rgba(63, 206, 128, 0.7);
}

.nav-links  a {
    color: black;
    text-decoration: none;
    margin: 10px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Merriweather', serif;
}

@media screen and (max-width: 450px) {
    .nav-bar {
        flex-direction: column;
        margin-top: 75px;
        border-bottom: 2px solid black;
    }

    .logged-in {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .not-logged-in {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .app-name {
        margin: 0 auto;
        /* margin-bottom: 10px; */
    }

    .nav-links {
        flex-direction: column;
        margin-top: 15px;
    }
}